<!DOCTYPE html>
<html>
  <head>
    <title>Kuere</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcommen!</h1>
    <p>Welcome to HUKuere</p>
  </body>
</html>
