<header>
  <div class="container">
    <div class="row">
      <div class="сol-lg-offset-4 col-lg-2 col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-2 col-xs-offset-1 col-xs-3">
        <a class="link-block" ui-sref="create_post">
          Создать пост
        </a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="home">
          Карта
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="posts">
          Все посты
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="charts">
          Графики
        </a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="logout">
          Выйти
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div ng-controller="PostsCtrl">
        <leaflet lf-center="center" width="50%" height="330px" markers="_markers"></leaflet>
        <form class="post-kk" ng-submit="submitNewPost()">
          <div class="form-group">
            Потерял
            <input class="form-control" type="radio" name="type" value="lost" ng-model="post.type">
          </div>
          <div class="form-group">
            <input class="form-control" type="radio" name="type" value="found" ng-model="post.type">
            Нашёл
          </div>
          <div class="form-group">
            Название <input class="form-control" type="text" ng-model="post.title" required>
          </div>
          <div class="form-group">
            Описание <textarea class="form-control" ng-model="post.description" rows=3 cols=30></textarea>
          </div>
          <div class="form-group">
            Ссылка на фото <input class="form-control" type="text" ng-model="post.img" required>
          </div>
          <button class="btn btn-default" type="submit">Сохранить</button>
        </form>
        <br><br>
        <div class="buttonss">
          <button class="btn btn-default" ng-click="addMarker()">Добавить маркер</button>
          <input class="form-control home-address" type="text" ng-model="address">
          <button class="btn btn-default" type="button" ng-click="searchAddress()">Поиск адреса</button>
        </div>
      </div>
    </div>
  </div>
</main>
