<header>
  <div class="container">
    <div class="row">
      <div class="сol-lg-offset-7 col-md-offset-7 col-sm-offset-7 col-xs-offset-7 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="create_post">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="home">
          <i class="glyphicon glyphicon-map-marker"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="posts">
          <i class="glyphicon glyphicon-th-list"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="charts">
          <i class="glyphicon glyphicon-signal"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="logout">
          <i class="glyphicon glyphicon-log-out"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div ng-controller="MapCtrl">
      	<button class="btn btn-default" ng-click="addMarker()">Добавить маркер</button>
      	<input class="form-control home-address" type="text" ng-model="address">
      	<button class="btn btn-default" type="button" ng-click="searchAddress()">Поиск по адресу</button>
      	<button class="btn btn-default" type="button" ng-click="getPlace()">Поиск по району</button>
      	<button class="btn btn-default" type="button" ng-click="getAllPosts()">Показать маркеры</button>
        <br><br><br><br><br>
      	<leaflet lf-center="center" width="94%" height="480px" markers="markers"></leaflet>
      </div>
    </div>
  </div>
</main>
