<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-10 col-lg-1">
        <a class="link-block" ui-sref="login">
          login
        </a>
      </div>
      <div class="col-lg-1">
        <a class="link-block" ui-sref="signup">
          signup
        </a>
      </div>
    </div>
  </div>
</header>

<main class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
        <login-form></login-form>
      </div>
    </div>
  </div>
</main>
