<header>
  <div class="container">
    <div class="row">
      <div class="сol-lg-offset-4 col-lg-2 col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-2 col-xs-offset-1 col-xs-3">
        <a class="link-block" ui-sref="create_post">
          Создать пост
        </a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="home">
          Карта
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="posts">
          Все посты
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="charts">
          Графики
        </a>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <a class="link-block" ui-sref="logout">
          Выйти
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
        <post-list></post-list>
      </div>
    </div>
  </div>
</main>
