<header>
  <div class="container">
    <div class="row">
      <div class="сol-lg-offset-7 col-md-offset-7 col-sm-offset-7 col-xs-offset-7 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="create_post">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="home">
          <i class="glyphicon glyphicon-map-marker"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="posts">
          <i class="glyphicon glyphicon-th-list"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="charts">
          <i class="glyphicon glyphicon-signal"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a class="link-block" ui-sref="logout">
          <i class="glyphicon glyphicon-log-out"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
        <post-list></post-list>
      </div>
    </div>
  </div>
</main>
