body {
  font: 14px 'FontAwesome', 'Glyphicons', Arial, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.background {
  position: absolute;
  background-color: rgba(196, 196, 196, 0.29);
  margin-top: -10px;
  height: 100%;
  width: 100%;
}
