header {
  margin: 10px 0;
}
.link-block {
  display: block;
  color: #fff;
  padding: 18px 10px;
  text-align: center;
  cursor: pointer;
}

.link-block:hover,
.link-block:active,
.link-block:focus {
  color: #fff;
  background-color: rgba(181, 115, 0, 0.27);
  text-decoration: none;
}
