body {
  background: url('../images/cover16.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-filter {
  background-color: rgba(134, 134, 134, 0.39);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.main-heading {
  margin-top: 30vh;
}

.main-heading__brand,
.main-heading__description {
  color: #fff;
  font-family: 'Et-Line';
  font-size: 72px;
}

.main-heading__description {
  font-size: 24px;
}

.main-starter {
  position: absolute !important;
  bottom: 30px;
}

.main-starter .link-block {
  background-color: rgba(181, 115, 0, 0.27);
}

.main-starter .link-block:hover {
  background-color: rgba(210, 136, 5, 0.27);
}

.home-address {
  display: inline !important;
  width: inherit !important;
}

.post-kk {
  display: inline-block;
  width: 300px;
  margin-left: 35px;
  color: #fff;
}
.buttonss {
  margin-top: -50px;
}
