<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Kuere</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href='/stylesheets/leaflet.css'>
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.css">

	<script type="text/javascript" src="dist/bundle.js"></script>
</head>
<body>
	<header>
		<nav ng-controller="NavCtrl">
			<ul>
				<li ng-show="isLoggedIn()">Ты зашёл</li>
				<li ng-show="!isLoggedIn()">Ты не зашёл</li>
				<li ng-show="isLoggedIn()"><a href="#/logout">Выйти</a></li>
			</ul>
		</nav>
	</header>
	<ui-view></ui-view>
</body>
</html>
